In [1]:
import pandas as pd

In [2]:
agenda = pd.read_json("agenda_cultural.json")

In [3]:
agenda.columns

Index(['ID', 'post_author', 'post_date', 'post_date_gmt', 'post_content',
       'post_title', 'post_excerpt', 'post_status', 'comment_status',
       'ping_status', 'post_password', 'post_name', 'to_ping', 'pinged',
       'post_modified', 'post_modified_gmt', 'post_content_filtered',
       'post_parent', 'guid', 'menu_order', 'post_type', 'post_mime_type',
       'comment_count', 'filter', 'id', 'type', 'title', 'featured_media',
       'featured_media_thumbnail', 'featured_media_medium',
       'featured_media_large', 'subtitle', 'subject', 'string_dates',
       'string_times', 'description', 'venue', 'categories_name_list',
       'tags_name_list', 'link', 'occurences', 'StartDate', 'LastDate',
       'price_cat', 'price_val', 'target_audience', 'accessibility'],
      dtype='object')

In [4]:
agenda_lx = agenda[["ID","categories_name_list", "title", "venue", "occurences", "LastDate", "price_cat" ]]
agenda_lx.head()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free

In [5]:
agenda_lx["LastDate"].isnull().sum()

0

In [6]:
agenda_lx["LastDate"] = pd.to_datetime(agenda_lx["LastDate"])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
agenda_lx["Month"] = agenda_lx["LastDate"].dt.month

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
agenda_lx.head()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Month
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown,2
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value,2
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,,3
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown,2
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free,1

In [9]:
agenda_lx["Quarter"] = agenda_lx["LastDate"].dt.quarter

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
agenda_lx.head()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Month,Quarter
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown,2,1
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value,2,1
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,,3,1
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown,2,1
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free,1,1

### What is the month and quarter with the higher number of events?

In [11]:
# the months with more cultural offer are september, November and December.
# August is the month with the lowest cultural offer
agenda_lx.groupby("Month").count()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Quarter
Month,,,,,,,,
1,481,481,481,481,481,481,481,481
2,496,496,496,496,496,496,496,496
3,418,418,418,418,418,418,418,418
4,335,335,335,335,335,335,335,335
5,406,406,406,406,406,406,406,406
6,482,482,482,482,482,482,482,482
7,426,426,426,426,426,426,426,426
8,170,170,170,170,170,170,170,170
9,673,673,673,673,673,673,673,673
10,594,594,594,594,594,594,594,594
11,703,703,703,703,703,703,703,703
12,676,676,676,676,676,676,676,676

In [12]:
agenda_lx.groupby("Quarter").count()

# quarter 4 has a lot more offer

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Month
Quarter,,,,,,,,
1,1395,1395,1395,1395,1395,1395,1395,1395
2,1223,1223,1223,1223,1223,1223,1223,1223
3,1269,1269,1269,1269,1269,1269,1269,1269
4,1973,1973,1973,1973,1973,1973,1973,1973