In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [2]:
agenda = pd.read_json("agenda_cultural.json")
agenda.columns

Index(['ID', 'post_author', 'post_date', 'post_date_gmt', 'post_content',
       'post_title', 'post_excerpt', 'post_status', 'comment_status',
       'ping_status', 'post_password', 'post_name', 'to_ping', 'pinged',
       'post_modified', 'post_modified_gmt', 'post_content_filtered',
       'post_parent', 'guid', 'menu_order', 'post_type', 'post_mime_type',
       'comment_count', 'filter', 'id', 'type', 'title', 'featured_media',
       'featured_media_thumbnail', 'featured_media_medium',
       'featured_media_large', 'subtitle', 'subject', 'string_dates',
       'string_times', 'description', 'venue', 'categories_name_list',
       'tags_name_list', 'link', 'occurences', 'StartDate', 'LastDate',
       'price_cat', 'price_val', 'target_audience', 'accessibility'],
      dtype='object')

In [3]:
agendalx = agenda[["ID", "categories_name_list", "title", "venue", "occurences", "LastDate", "price_cat"]]
agendalx.head(5)

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free

### Clean venue  and create column

In [4]:
venue = agenda["venue"]

def get_venue(x):
    if type(x) == dict:
        # Return the first key
        return list(x.keys())[0]
    
    return "---"

            
agendalx["Venue Name"] = agendalx["venue"].apply(get_venue)
agendalx.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Venue Name
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown,espaco-nimas
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value,culturgest
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,,---
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown,espaco-nimas
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free,---

### Clean date and create column

In [5]:
# no null values
agendalx["LastDate"].isnull().sum()
# to datetime
agendalx["LastDate"] = pd.to_datetime(agendalx["LastDate"])
#month column
agendalx["Month"] = agendalx["LastDate"].dt.month
#quarter column
agendalx["Quarter"] = agendalx["LastDate"].dt.quarter

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Clean type of event and create event

In [6]:
def get_event(x):
    if type(x) == dict:
        # Return the first key
        return list(x.keys())[0]
    return "---"
agendalx["categories_name_list"] = agendalx["categories_name_list"].apply(get_event)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
agendalx.head()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Venue Name,Month,Quarter
0,24138,cinema,"{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown,espaco-nimas,2,1
1,24137,musica,{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value,culturgest,2,1
2,24132,ciencia,{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,,---,3,1
3,24109,cinema,{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown,espaco-nimas,2,1
4,24128,danca,{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free,---,1,1

### workings

In [105]:
agendalx["Quarter"].sort_values().value_counts()

4    1973
1    1395
3    1269
2    1223
Name: Quarter, dtype: int64

In [ ]:
#type vs time
# price vs time

In [16]:
agendalx.categories_name_list.unique()

array(['cinema', 'musica', 'ciencia', 'danca', 'artes', '---', 'teatro',
       'visitas-guiadas', 'literatura', 'feiras'], dtype=object)

In [96]:
type_quarter = agendalx.groupby(["Quarter","categories_name_list"])["ID"].count()

In [127]:
type_quarter

categories_name_list  Quarter
---                   1           25
artes                 1          489
ciencia               1           77
cinema                1          132
danca                 1           67
feiras                1           14
literatura            1           32
musica                1          285
teatro                1          201
visitas-guiadas       1           73
---                   2           37
artes                 2          365
ciencia               2           87
cinema                2           93
danca                 2           89
feiras                2           20
literatura            2           24
musica                2          271
teatro                2          188
visitas-guiadas       2           49
---                   3           47
artes                 3          473
ciencia               3           76
cinema                3          103
danca                 3           57
feiras                3           22
literatura            3           24
musica                3          270
teatro                3          133
visitas-guiadas       3           64
---                   4           51
artes                 4          536
ciencia               4          132
cinema                4          174
danca                 4           96
feiras                4           65
literatura            4           54
musica                4          526
teatro                4          246
visitas-guiadas       4           93
Name: ID, dtype: int64

In [121]:
agendalx["price_cat"].unique()

array(['unknown', 'value', '', 'free'], dtype=object)

In [155]:
free_events = (agendalx[agendalx.price_cat =="free"]).groupby("Quarter").count()
not_free_events = agendalx.groupby("Quarter").count()


total = free_events / (free_events + not_free_events)
total

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Venue Name,Month
Quarter,,,,,,,,,
1,0.113723,0.113723,0.113723,0.113723,0.113723,0.113723,0.113723,0.113723,0.113723
2,0.177539,0.177539,0.177539,0.177539,0.177539,0.177539,0.177539,0.177539,0.177539
3,0.174902,0.174902,0.174902,0.174902,0.174902,0.174902,0.174902,0.174902,0.174902
4,0.148835,0.148835,0.148835,0.148835,0.148835,0.148835,0.148835,0.148835,0.148835

In [154]:
list1=[agendalx[agendalx.price_cat == 'free'].groupby('Quarter')['price_cat'].count()]
print(list1)
list2=[agendalx[agendalx.price_cat=='value'].groupby('Quarter')['price_cat'].count()]
print(list2)
list3=[x+y for x in list1 for y in list2]
print(list3)
list4=[x/y for x in list1 for y in list3]
print(list4)

[Quarter
1    179
2    264
3    269
4    345
Name: price_cat, dtype: int64]
[Quarter
1    502
2    440
3    393
4    752
Name: price_cat, dtype: int64]
[Quarter
1     681
2     704
3     662
4    1097
Name: price_cat, dtype: int64]
[Quarter
1    0.262849
2    0.375000
3    0.406344
4    0.314494
Name: price_cat, dtype: float64]